* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  /* header start */
  
  .top-line {
    width: 100%;
    height: 4px;
    background-color: #295093;
  
  }
  
  .global-capsule {
    margin-left: 30px;
    margin-bottom: -350px;
  }
  .header-fon{
    width: 100%;
    height: 332px;
    background-color:#F6F6F9;
  }
  .sarlavha {
    font-size: 28px;
    margin: 47px 1001px 0px 155px;
    width: 340px;
    height: 40px;
    color: #295093;
    border-radius: 5px;
    background-color: white;
    border: 5px;
    padding: 2px;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .menu {
    margin: -30px 515px;
  }
  
  .box-lupa {
    position: relative;
    top: 9px;
    left: -20px;
    width: 44px;
    height: 40px;
    background-color: white;
    margin: 0px 370px 0px 1031px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .lupa {
    position: relative;
    top: 5px;
    left: -15px;
    right: 5px;
    margin: -23px 375px 0px 1039px;
  }
  
  .box-ru {
    position: relative;
    top: -30px;
    width: 67px;
    height: 40px;
    background-color: white;
    margin-left: 1071px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .ru {
    position: relative;
    top: -22px;
    margin: -43px 370px 0px 1075px;
  }
  .text-ru {
    position: relative;
    top: 5px;
    font-size: 16px;
    color: #535353;
    margin: -54px 370px 0px 1111px;
  }
  .telegram {
    margin: -25px 370px 0px 1155px;
  }
  .icon-telegram {
    margin: -33px 370px 0px 1165px;
  }
  .follow {
    margin: -25px 370px 0px 1195px;
  }
  /* header end */
  
  /* nav start */
  nav {
    margin-left: 30px;
  }
  .nav-bar {
    width: 1183px;
    height: 55px;
    background-color: white;
    margin: 50px auto;
    margin-left: 125px;
  
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .nav-bar-text {
    margin: 0px 0px 0px 160px;
    padding-top: 20px;
    margin-left: 30px;
  }
  .nav-bar-text-style {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  .nav-bar-text-style a {
    text-decoration: none;
    color: black;
  }
  .nav-bar-text-style a:hover {
    color: #295093;
  }
  .nav-bar-text-style a:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #000;
    display: block;
  }
  .nav-bar-text-style a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
  }
  .nav-img {
    margin: 30px 0px 0px 125px;
  }

  /* registration start */
  .registration-capsule{
    margin-left: 125px;
  }
  .napishite{
    margin-top: 30px;
  }
  .qwerty{
    display: flex;
    flex-direction: column;
}
.table{
    width: 600px;
    height: 50px;
    margin-top: 20px;
    background-color: #ffffff;
    border: 2px solid     #285193;
    border-radius: 5px;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#tables{
    width: 600px;
    height: 307px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #ffffff;
    border: 2px solid     #285193;
    border-radius: 5px;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; 
}
 .icon-y{
    margin-left: 155px;
    margin-top: -40px;
 }
 #file,#kod{
    width: 221px;
    height: 50px;
    margin-top: 30px;
    background-color: #ffffff;
    border: 2px solid     #285193;
    border-radius: 5px;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; 
    
 }
 .k47za{
    font-size: 23px;
    font-weight: 400;
    margin-left: 245px;
    margin-top: -40px;
 }
 #buttton{
    width: 221px;
    height: 50px;
    margin-top: 30px;
    background-color: #285193;
    border:  2px solid;
  border-radius: 5px;
    padding: 0 auto;
    font-size: 23px;
    font-weight: 600;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* registration end */

/* aside start */
.box-aside{
    width: 510px;
    height: 280px;
    background-color: 
#ffffff;
    margin-left: 900px;
    margin-top: -805px;
    padding-left: 235px;
    padding-top: 25px;
    border: 2px solid #BCC3CD;
    box-shadow: -10px 5px 10px #BCC3CD; 
}
.h2-text{
    color: 
    #295091;
}

.item-box{
 margin-left: 930px; 
 margin-top: -230px;

}
.link-t, .link-t-g{
    list-style-type: none;
    margin-top: 30px;
    font-size: 18px;
    color: #888888;
}
.info{
    font-size: 18px;
    color: #888888;
    margin-left: 90px;
}
.info-icon{
margin-left: 20px;
}

.ifo{
    position: relative;
    margin-left: 300px;
    top: -30px;
}
.tg-dox{
    margin-top: -40px;
   
}
.button{
  position: relative;
  width: 150px;
  height: 33px;
  background-color: #295091;
  color: #ffffff;
  border-radius: 5px;
  padding-left: 20px;
  margin-left: 310px;
  top: -30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
 
}
.photo-tg-t{
  position: relative;
  margin-left: 315px;
  top: -57px;
}
.google-dox{
  position: relative;

  top: -60px;
}
.google-1{
    position: relative;

    margin-left: 230px;
    top: -85px;
}
.google-2{
    position: relative;
    top: -85px;
    margin-left: 10px;
}
















/* footer start */
#footer-main {
    margin-top: 40px;
    margin-left: 20px;
  }
  
.footer-fon {
  position: relative;
  top: 500px;
    padding-left: -30px;
    margin-left: -50px;
    width: 1570px;
    height: 230px;
    background-color: #295093;
  
  }
  
  .namanganliklar-fon {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    margin-left: 70px;
    width: 194px;
    height: 38px;
    background-color: #133c82;
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .footer-text {
    margin-left: 400px;
    width: max-content;
    margin-top: -20px;
  }
  .tg-fon {
    display: inline-block;
    width: 132px;
    height: 38px;
    background-color: #ffffff;
    margin-left: 690px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: -25px;
  }
  .footer-line {
    width: 1200px;
    height: 3px;
    background-color: #133c82;
    margin-top: 30px;
    margin-left: -10px;
  }
  .img-tg {
    margin-left: 1100px;
    margin-top: -30px;
  }
  .tt {
    color: #295093;
    margin-top: -23px;
    margin-left: 25px;
  }
  .about-site {
    margin-top: 10px;
    font-size: 13px;
    width: max-content;
    height: 40px;
  }
  .settings {
    font-size: 13px;
    color: #ffffff;
    list-style: none;
    margin-top: -110px;
    margin-left: 550px;
  }
  .ink,
  .inkk {
    margin: 10px;
  }
  .inkk {
    margin-top: -50px;
    margin-left: 250px;
  }
     